In [1]:
# q1 . 데이터를 로드하세요

In [3]:
import pandas as pd
chip_df = pd.read_csv('./chipotle.tsv', delimiter='\t')

In [2]:
#q2. quantity컬럼 값이 3인 데이터를 추출해서 첫 5행만 출력하세요.

In [6]:
chip_df[chip_df.quantity==3].head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [3]:
#q3. qunatity컬럼 값이 3인 데이터를 추출해서 index를 0부터 정렬하고, 마지막 3행만 출력하세요

In [11]:
chip_df[chip_df.quantity==3].reset_index(drop=True).tail(3)

    order_id  quantity          item_name choice_description item_price
25      1642         3  Canned Soft Drink        [Diet Coke]     $3.75
26      1655         3      Bottled Water                NaN     $4.50
27      1671         3      Bottled Water                NaN     $4.50

In [4]:
#q4. quantity, item_price로 구성된 새로운 df를 만들어보세요.

In [12]:
chip_n_df = chip_df[['quantity','item_price']]
chip_n_df.head()

   quantity item_price
0         1     $2.39
1         1     $3.39
2         1     $3.39
3         1     $2.39
4         2    $16.98

In [5]:
#q5. df의 item_name 컬럼 값 중에 Chips를 포함하는 모든 경우의 데이터를 호출하세요.

In [19]:
chip_df.loc[chip_df.item_name.str.contains('Chips')]
chip_df[chip_df.item_name.str.contains('Chips')].head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
6,3,1,Side of Chips,NaN,$1.69
10,5,1,Chips and Guacamole,NaN,$4.45
14,7,1,Chips and Guacamole,NaN,$4.45