In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
titan_df = pd.read_csv('D:/pythonTest/train.csv')
titan_df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [37]:
# 결측값

def fillna_null(df):
    df.Age.fillna(df.Age.mean(), inplace(True))
    df.Cabin.fillna('N', inplace=True)
    df.Embarked.fillna('N', inplace=True)
    
    return df

In [40]:
# label encoding
from sklearn.preprocessing import LabelEncoder

def le_encode(df):
    features = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
    for ftr in features:
        le = LabelEncoder()
        le = le.fit(df[ftr])
        df[ftr] = le.transform(df[ftr])
    return df

In [38]:
# ML 알고리즘에 불필요한 속성 제거

def drop_ftr(df):
    df.drop(['Ticket', 'Name', 'Passengerld', 'Cabin', 'Embarked'], axis=1, inplace=True)
    return df

In [41]:
# 앞에서 설정한 데이터 통합

def transform_ftrs(df):
    df = fillna_null(df)
    df = le_encode(df)
    df = drop_ftr(df)
    return df

In [42]:
from sklearn.base import BaseEstimator

In [44]:
class TestClassifier(BaseEstimator):
    
    def fit(self, X, y=None):
        pass
    
    def predict(self, X):
        pred = np.zeros((X.shape[0], 1))
        for i in range(X.shape[0]):
            if X['Sex'].iloc[i] == i:
                pred[i] = 0
            else:
                pred[i]=1
            return pred