In [1]:
"hello world"
'hello world'
'''hello world'''
"""hello world"""

'hello world'

In [5]:
'python"s favorite food is pizza'
"python's favorite food is pizza"

"python's favorite food is pizza"

In [8]:
'python\'s favorite food is pizza'

"python's favorite food is pizza"

In [12]:
# 내려쓰기 \n 을 쓸 때는 프린트를 해줘야된다
print('Life is too short\n you need python')

'Life is too short\n you need python'

Life is too short
 you need python

'Life is too short\n you need python'

In [16]:
multiline="""Life is too short,
You need python"""

In [19]:
print(multiline)
multiline

Life is too short,
You need python

'Life is too short,\nYou need python'

In [25]:
# 포매팅-숫자

print("현재 온도는 %d도 입니다" % (18))
print("현재 온도는 {0}도 입니다".format(18))

현재 온도는 18도 입니다
현재 온도는 18도 입니다

In [32]:
# 포매팅-문자

print("사과 개수는 %s개 입니다" % ('five'))
print("사과 개수는 {0}도 입니다".format('five'))

사과 개수는 five개 입니다
사과 개수는 five도 입니다

In [34]:
# 포매팅- %유의  
print('정확도는 %d%%' % 95) # %d%% 퍼센트가 하나 더 들어가야함

정확도는 95%

## 정렬과 공백

In [44]:
"%10s" % '수업'  # 오른쪽
"%-10s" % '수업' # 왼쪽

"{0:>10}".format('hi') # 오른쪽
"{0:^10}".format('hi') # 가운데
"{0:<10}".format('hi') # 왼쪽

'hi        '

In [45]:
# 소수점 표현하기
"%0.4f" % 3.14123456789
"%0.3f" % 3.14123456789

'3.141'

In [51]:
# 공백채우기
'{0:=^10}'.format('hi')
'{0:?<10}'.format('나 알아')

'나 알아??????'

In [57]:
name = '박영식'
age = 98
f'나의 이름은 {name} 입니다. 나이는 {age+2} 입니다.'

'나의 이름은 박영식 입니다. 나이는 100 입니다.'

In [59]:
# 문자 갯수 세기(count)
a = '야야야김정호'
a.count('야')

3

In [62]:
# 위치 알려주기1 (find)
a = "python is the best choice"
a.find('b')
a.find('k') # error가 안납니다.

-1

In [64]:
# 위치 알려주기2 (index)
a = "python is the best choice"
a.index('b')
a.index('k') # error가 난다.

ValueError: substring not found

In [66]:
# 문자열 삽입(join)
a = ['ysp','jeg','jhk','yhk','esj']
",".join(a)

'ysp,jeg,jhk,yhk,esj'

In [67]:
result=[]
for i in a:
    j=",".join(i)
    result.append(j)

In [69]:
result # Reqular_Expression (정규표현식) - 문자열

['y,s,p', 'j,e,g', 'j,h,k', 'y,h,k', 'e,s,j']

In [71]:
# 소문자를 대문자로
a = 'ysp'
a.upper()

'YSP'

In [73]:
# 대문자를 소문자로
A = 'YSP'
A.lower()

'ysp'

In [76]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace('Life','my leg') # Life -> my leg

'my leg is too short'

## List 자료형

In [99]:
l1 = []
l2 = [1,2,3]
l3 = ['a','b','c']
l4 = [1,2,'a','b']
l5 = [1,2,['a','b']]

In [102]:
a = list()
c = str()
c

''

In [104]:
# list // indexing
a = [1,2,3]
a

[1, 2, 3]

In [111]:
print(a[0],a[1],a[2])
a[0]+a[2] # 덧셈연산
a[-1]
a[len(a)-1]

1 2 3

3

In [117]:
l5[2][1]

'b'

In [118]:
l5_1 = l5[2]
l5_1[1]

'b'

In [125]:
result = []
for i in range(10):
    result.append(i)
    
result[:5]

[0, 1, 2, 3, 4]

In [127]:
l1 = [1,2,3]
l2 = ['a','b','c']
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [136]:
l13 = l1 *3
l13[1] = 1000
l13

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [137]:
# 삭제-1 remove 함수를 사용
l13.remove(1000)
l13

[1, 3, 1, 2, 3, 1, 2, 3]

In [138]:
# 삭제-2 del 사용
del l13[1]
l13

[1, 1, 2, 3, 1, 2, 3]

In [144]:
# 삭제-3 함수 pop을 사용
a = [1,2,3]
a.pop()

3

In [147]:
a

[1, 2]

In [154]:
# append 함수
# 뒤에 특정한 값이나 형태를 이어서 붙히는 것
a=[1,2]
a.append([3,4,5])
a

[1, 2, 3]

In [156]:
# extend 함수
a=[1,2]
a.extend([3,4,5])
a

[1, 2, 3, 4, 5]